[Unit]
Description=Linux PTP Hardware Clock Synchronization (ptp4l)
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/ptp4l -i eno2 -S -f /home/rainbow/automotive-master.cfg -m -l 2
Restart=on-failure

[Install]
WantedBy=multi-user.target
